*{
    margin: 0px;
    
}
body{
    background-image: url(background.gif);
}
.head{
    height: 50px;
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 20px;
}

.choices{
    height: 300px;
    margin: 50px;
    display: flex;
    justify-content:space-around;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

img:hover{
    opacity: 0.5;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}
.score-board{
    display: flex;
    justify-content: center;
}

.message-cointainer{
    display: flex;
    justify-content: center;
    
}
#msg{
    height: 50px;
    background-color: pink;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}
.score-board{
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 30px;
}
#you{
    font-size: 50px;
}
#comp{
    font-size: 50px;
}
